# HiveMQ Cloud MQTT Configuration
HIVEMQ_HOST=a70aa4faf3ff4809b9c2f9348eb43474.s1.eu.hivemq.cloud 
HIVEMQ_PORT=8883
HIVEMQ_USERNAME=mavis_bridge
HIVEMQ_PASSWORD=bridge01

# InfluxDB Cloud Configuration
INFLUXDB_URL=https://europe-west1-1.gcp.cloud2.influxdata.com
INFLUXDB_TOKEN=5Zq0BkyJhQT62pP2S38SXBIiLyuPZkVuDXt8JlNewRjcBYIJtaydYrWL-IqSYsVR5iF4uCH9O9dWfoZ04bUCsg==
INFLUXDB_ORG=mavis-org
INFLUXDB_BUCKET=mavis_telemetry

# Firebase Firestore Configuration
# Provide raw JSON string or base64 encoded JSON string of firebase service account
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"mavis-project","private_key_id":"...","private_key":"...","client_email":"..."}

# Stream Processing Parameters & Thresholds
MA_WINDOW_SIZE=5
THRESHOLD_ACC=3.5
THRESHOLD_ANGLE=35

# Application Server Port
PORT=3000
